@import prefixes
@import colors
body
    margin 0px
    line-height 1.3em
    font-family arial, sans-serif
    #map
        position absolute
        top 0px
        left 0px
        bottom 0px
        width 100%
    .leaflet-container
        background white
    sliderTop = 13px
    .slider
        width 360px
        position absolute
        top (sliderTop + 7px)
        left 70px
        &.ui-slider
            border 1px solid #333
        &.disabled
            background transparent
            border 0px none
        .ui-slider-handle
            border 1px solid darken(HNBlue, 40%)
            background HNBlue
            transition background 0.5s
            &.ui-state-hover
                background darken(HNBlue, 20%)
            &.ui-state-active
                background darken(HNBlue, 40%)
        z-index 8000

    .year
        display block
        padding 4px 10px
        background white
        border 1px solid #333
        position absolute
        top sliderTop
        left 469px
        border-radius 4px
        z-index 8000
    .tooltip
        z-index 9000
    .gradientContainer
        position absolute
        bottom 16px
        left 0px
        border 1px solid #333
        z-index 999
        background white
        color #222
        border-radius 3px
        div
            float left
            width 29px
            padding-top 0px
            height (20px - @padding-top)
            text-align center
            font-size 0.8em
            font-weight bold
            &.dark
                color #FEE0D2
    .search
        @import search

    .partySelectorContainer
        position absolute
        top 15px
        right 0px
        width 100px
        select
            width 90px

