@import prefixes
@import colors
body
    margin 0px
    line-height 1.3em
    font-family arial, sans-serif
    #map
        position absolute
        top 0px
        left 0px
        bottom 0px
        width 100%
    sliderTop = 13px
    .slider
        width 460px
        position absolute
        top (sliderTop + 7px)
        left 70px
        &.ui-slider
            border 1px solid #333
        .ui-slider-handle
            border 1px solid darken(HNBlue, 40%)
            background HNBlue
            transition background 0.5s
            &.ui-state-hover
                background darken(HNBlue, 20%)
            &.ui-state-active
                background darken(HNBlue, 40%)
        z-index 8000

    .year
        display block
        padding 4px 10px
        background white
        border 1px solid #333
        position absolute
        top sliderTop
        left 569px
        border-radius 4px
        z-index 8000
    .tooltip
        z-index 9000
