&
    position absolute
    bottom 45px
    left 0px
    input
    button
        border 1px solid #999
        border-left 0px none
        padding 0px
        margin 0px
    input
        display block
        float left
        height 38px
        width 200px
        padding 0px 10px
    button
        display block
        float left
        width 40px
        height 40px
        position relative
        border-radius 0px
        border-top-right-radius 5px
        border-bottom-right-radius 5px
        background #eee
        cursor pointer
        &:hover
            background #ddd
        &:active
            background #ccc
        .search-lens
            position absolute
            top 7px
            left 7px
            display block
            width 12px
            height 12px
            border-radius 50%
            border 3px solid black
            background white
        .search-handle
            position absolute
            top 25px
            left 19px
            width 13px
            height 3px
            background black
            transform rotate(45deg)
